*{
    margin: 0;
    padding: 0;
}
h2{
    color: rgb(228, 27, 144);
    text-align: center;
    font-size: 40px;
}
h2::before{
    content: " age- ";

}
h2::after{
    content: " - pore ";
}

p::before{
    content: ' "';
}
p::after{
    content: ' "';
}
p{
    text-align: center;
    font-size: 30px;
}
.button-div{
    text-align: center;
    margin-top: 40px;
}
.click-class{
    font-size: 50px;
    text-decoration: none;
    background:#f167b3 ;
    display: inline-block;
    color: white;
    padding: 15px 40px;
     border-radius: 10px;
     position: relative;
     z-index: 1;
}
.click-class::before{
    content: "";
    height: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(184, 104, 164);
    border-radius: 10px;
    transition: .5s;
    z-index: -1;
    
}
.click-class:hover::before{
height: 100%;

}
ul{
    margin-left: 30px;
    list-style: none;
}
li{
    font-size: 30px;
}
li::before{
    content: "\f336";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    color: blue;
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
}